
<div class="box">
    <div class="box box-danger direct-chat direct-chat-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Messages</h3>
          <div class="box-tools pull-right">
            <div class="count" *ngFor="let UserMessage of CurrentUsersMessage;let i=index"></div>
            <span data-toggle="tooltip" title="{{CurrentUsersMessage.length}} New Messages" class="badge bg-red">{{CurrentUsersMessage.length}}</span>
            
          </div>
        </div>
        <div class="box-body">
          <div class="direct-chat-messages">
            <div class="direct-chat-msg">
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-left">{{BindMessage.firstName}} {{BindMessage.lastName}}</span>
                <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
              </div>
              <img class="direct-chat-img" src="assets/img/avatar5.png" alt="message user image"><!-- /.direct-chat-img -->
              <div class="direct-chat-text">
               Hi.......
              </div>
            </div>
      
           
            <div class="direct-chat-msg right"  *ngFor="let UserMessage of CurrentUsersMessage">
              <div class="direct-chat-info clearfix" >
                <span class="direct-chat-name pull-right">{{BindMessage.firstName}} {{BindMessage.lastName}}</span>
                <span class="direct-chat-timestamp pull-left">{{UserMessage.dateTime}}</span>
              </div>
              <img class="direct-chat-img" src="assets/img/avatar5.png" alt="message user image"><!-- /.direct-chat-img -->
              <div class="direct-chat-text">
              {{UserMessage.value}}
              </div>
            </div>
          </div>
      
          <div class="direct-chat-contacts">
            <ul class="contacts-list">
              <li>
                <a href="#">
                  <img class="contacts-list-img" src="assets/img/avatar5.png" alt="Contact Avatar">
                  <div class="contacts-list-info">
                    <span class="contacts-list-name" >
                    
                      <small class="contacts-list-date pull-right"></small>
                    </span>
                    <span class="contacts-list-msg">{{CurrentUsersMessage.value}}</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <form #personForm="ngForm"(ngSubmit)="onSubmit(personForm.value)">

        <div class="box-footer">
          <div class="input-group">
                  <input type="text" name="message"  placeholder="Type Message ..." class="form-control" ngModel required>
            <span class="input-group-btn">
                <button class="btn  btn-round" type="submit" [disabled]="!personForm.form.valid">Send</button>            </span>
         
          </div>
        </div>
      </form>
      </div>
      </div>