<div class="container">
    <div class="addContact">
         <div class="row text-center">
              <div class="col-md-12 col-sm-12 col-12">
                 <h4 id="header">NEW CONTACT</h4>
             </div>
        </div>
          <br>
                 <div class="test">
                      <div class="row">
                         <div class="col-md-12">
                            <div class="photo text-center">
                                <img class="img-circle" src="assets/img/default-avatar.png" width="100">
                             </div>
                         </div>
                     </div>
                       <hr>
                         <br>
 
 <div class="input">
    <form #personForm="ngForm"(ngSubmit)="onSubmitnews(personForm.value)">
       <div class="row">
           <div class="col-md-6 col-sm-5 col-5">
               First Name:  <input type="text" name="firstName" [(ngModel)]="myData.firstName"  class="form-control" required>
            </div>
                <div class="col-md-1"></div>
                    <div class="col-md-5 col-sm-5 col-5">
                        Last Name:  <input type="text" name="lastName" [(ngModel)]="myData.lastName" class="form-control" required>
                    </div>
               </div>
                        <div class="row">
                           <div class="col-md-6 col-sm-6 col-6">
                               Phone Number <input type="text" name="phoneNumber"  [(ngModel)]="myData.mobileNumber" class="form-control" required>
                                   </div>
                                      <div class="col-md-1"></div><br>
                                          <!-- <div class="col-md-5 col-sm-5 col-5"><span style="background:gray;border-radius:20px;"> + ADD PHONE NUMBER</span> -->
                                       <!-- </div> -->
                            </div>

                                          <div class="row">
                                               <div class="col-md-6 col-sm-6 col-6">
                                                    Email <input name="email" type="text" [(ngModel)]="myData.email" class="form-control" required>
                                                </div>
                                           </div><br>
                                                    <div class="row text-center">
                                                        <div class="col-md-6 col-sm-6 col-6">
                                                         <button type="button" class="btn btn-primary btn-round" (click)="update(personForm.value)"
                                                          [disabled]="!personForm.form.valid">UPDATE</button><span style="color:floralwhite">bon</span>
                                                          <button type="button" (click)="Delete()"  [disabled]="!personForm.form.valid" class="btn btn-info btn-round">Delete</button>

                                                       </div>
                                                    </div>
    </form>
     
 </div>
 
   </div>
 </div>

 
