<!-- Construct the box with style you want. Here we are using box-danger -->
<!-- Then add the class direct-chat and choose the direct-chat-* contexual class -->
<!-- The contextual class should match the box, so we are using direct-chat-danger -->
<div class="box">
  <div class="box box-primary direct-chat direct-chat-primary" style="padding:50px">
      <div class="box-header with-border">
        <h3 class="box-title">Call Logs</h3>
        <div class="box-tools pull-right">          <!-- In box-tools add this button if you intend to use the contacts pane -->
             <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-4 col-4">
              <img src="assets/img/user8-128x128.jpg" class="img-circle" style="float:left">
            </div>
            <div class="col-md-4 col-sm-4 col-4">
              <div class="name" style="float:left">
                  <span style="font-weight:bold">Gowtham</span><br>
                  <span style="font-weight:bold">+919567833</span>
              </div>
              
            </div>
            <br>
         </div><hr>
            <div class="calls" style="padding:20px;">
              <div class="row">
                  <div class="col-md-6 col-sm-6 col-6">
                      <i class="fa fa-reply fa-2x" aria-hidden="true">Outgoing Calls</i><br>
                      <span style="font-weight:bold">Friday 11 at 2018 </span><br>
                      <span style="font-weight:bold">2min 23sec</span>
                  </div>
              </div>
              <br>
             <hr>
             <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                    <i class="fa fa-share fa-2x" aria-hidden="true">Missed Calls</i><br>
                    <span style="font-weight:bold">Friday 11 at 2018 </span><br>
                    <span style="font-weight:bold">2min 23sec</span>
                </div>
            </div>
             
            </div>

          
        </div>
      </div>
      
    </div>
    </div>